.carousel-nav-btn {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 28px;
    margin: 0;
  }
}
