<h2
  matDialogTitle
  class="!flex !items-start !justify-between !gap-3 !m-0 !pb-2 !pt-1 !min-h-0 min-w-0 max-w-full w-full overflow-x-hidden box-border shrink-0"
>
  <span
    class="min-w-0 flex-1 text-lg font-fixel font-semibold text-on-surface leading-snug break-words [overflow-wrap:anywhere] pr-1"
  >
    {{ displayName() }}
  </span>
  <button
    matIconButton
    type="button"
    class="shrink-0 -mt-1 -mr-1"
    (click)="close()"
    [attr.aria-label]="'PRODUCTS.MODAL_CLOSE' | translate"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content
  class="product-quick-view__content !m-0 !pt-0 !pb-2 max-w-full min-w-0 !overflow-hidden flex flex-col flex-1 min-h-0"
>
  <app-product-detail-tabs
    [product]="data.product"
    [compact]="true"
    [dialogLayout]="true"
    [hideTitleInDetailsTab]="true"
  />
</mat-dialog-content>
