<div class="auth-modal-container">
  <div class="icon-wrapper icon-error mx-auto"><mat-icon class="status-icon">delete</mat-icon></div>
  <h2 class="modal-title text-center">{{ 'ADMIN.PROMOTION.DELETE_TITLE' | translate }}</h2>
  <p class="modal-desc text-left">{{ 'ADMIN.PROMOTION.DELETE_DESC' | translate: { name: data.name } }}</p>
  <div class="modal-actions">
    <button matButton="tonal" type="button" (click)="confirm()" [disabled]="deleting()">{{ 'ADMIN.TABLE.DELETE' | translate }}</button>
    <button matButton type="button" (click)="cancel()" [disabled]="deleting()">{{ 'AUTH.CANCEL' | translate }}</button>
  </div>
</div>
